body {
    background: linear-gradient(241deg, #19e6b1, #5fe619);
    background-size: 400% 400%;
    font-family: 'Roboto';
    -webkit-animation: BackgroundAnimation 30s ease infinite;
    -moz-animation: BackgroundAnimation 30s ease infinite;
    animation: BackgroundAnimation 30s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.center {
    text-align: center;
}

.profile-picture {
    width: 15%;
    height: 15%;
    margin:0 auto;
    display:block;
    border-radius: 100%;
    transition: all 1s;
    transform-origin: center center;
    position: relative;
}

.profile-picture:hover {
    transform: rotate(180deg);
}

.profile-description {
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
}